PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/algnite_elder
SESSION_SECRET=replace_with_a_long_random_secret
NODE_ENV=development
ADMIN_EMAIL=admin@algnite.com
ADMIN_PASSWORD=adminpass
# Set to true to wipe and reseed DB on each startup
RESET_DB=false
